.forecast-container {
  justify-content: space-around;
  margin: 50px 50px;

  @media screen and (min-width: 48em) {
    margin: 30px 0;
  }
}

.day {
  border: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;

  @media screen and (min-width: 48em) {
    margin: 0;
  }
}

.forecast--span {
  display: block;
  padding: 4px;
}
