#loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: white;
}

.loader--span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 25px 0;
  color: black;
}

.loader {
  border: 2px solid white;
  border-radius: 50%;
  border-top: 4px solid black;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  z-index: 1000;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
